<table style="font-family:Arial;border:1px solid black; width:auto 300px">
    <h3>Поиск Документов        <a href="/Home/Create">Создать новый Документ</a></h3>
    <tr>
        <td>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.TextBox("serching")
                <input type="submit" value="По Названию" />}
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.TextBox("Author")
                <input type="submit" value="По Автору" />
            }
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <span>С: </span>
                <input type="date" name="startDate" />
                <span>По: </span>
                <input type="date" name="endDate" />
                <input type="submit" value="Поиск По Дате" />
            }

        </td>

    </tr>
    <tr><td><a href="/Home">Сбросить</a></td></tr>


</table>
