@model AspNetMvc4Vs15.Document

@{
    ViewBag.Title = "Create";
}

<h2>Новый документ</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => model.Name, "Название")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />


    <input type="file" id="file1" name="file1" />
    <input type="submit" value="Добавить" />
    <tr><p><a href="/Home">Вернуться </a></p></tr>
}