@model AspNetMvc4Vs15.Document

@{
    ViewBag.Title = "Edit";
}

<h2>Документ №@Model.Id</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    @Html.LabelFor(m => m.Name, "Название Документа")
    <br />
    @Html.EditorFor(m => m.Name)
    <br/>

    <input type="file" id="file1" name="file1" />
    <input type="submit" value="Добавить" />
    <tr><p><a href="/Home">Вернуться </a></p></tr>


}
