@using AspNetMvc4Vs15
@model IEnumerable<Document>
@{ ViewBag.Title = "Список Документов";
    Layout = null;
}

<p> <a href="/Login.aspx">Выйти из системы</a></p>
<br />
<tr>
    <td>@Html.Partial("UserLogin")</td>
</tr>
<br /><br />
@Html.Partial("_Searching")
<h3>Список Документов</h3>
<br />
<table style="font-family:Arial;border:1px solid black; width:auto">
    @Html.Partial("_ColumnName")
    @foreach (var item in Model)
    {
        @Html.Partial("_Doc", item);
    }

</table>
